@charset "UTF-8";
body.lm-b-opening {
  overflow: hidden !important;
}

.lm-drop {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0px;
  display: block;
}

.l-modal {
  position: fixed;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  top: 0;
  left: 0;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 0vh;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  z-index: 99999999;
}
.l-modal.open, .l-modal.active {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.l-modal.open > .lm-wrapper, .l-modal.active > .lm-wrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.l-modal.lm-m .lm-wrapper {
  max-width: 500px;
}
.l-modal .lm-wrapper {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  width: 100%;
  z-index: 100;
  max-width: 768px;
  margin: 4em auto;
  background-color: white;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
@media (max-width: 512px) {
  .l-modal .lm-wrapper {
    margin: 0 auto;
    height: 100%;
  }
}
@media (min-width: 512px) {
  .l-modal .lm-wrapper {
    border-radius: 5px;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
  }
}
.l-modal .lm-wrapper .lm-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  z-index: 15;
}
.l-modal .lm-wrapper .lm-close:before, .l-modal .lm-wrapper .lm-close:after {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 0.125rem;
  background-color: black;
}
.l-modal .lm-wrapper .lm-close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.l-modal .lm-wrapper .lm-close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.l-modal .lm-wrapper .lm-close:hover:before, .l-modal .lm-wrapper .lm-close:hover:after {
  background-color: tomato;
}
.l-modal .lm-wrapper .lm-header {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 1em 1em 1.25rem;
  border-bottom: 1px solid #e9ecef;
}
.l-modal .lm-wrapper .lm-header h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}
.l-modal .lm-wrapper .lm-content {
  position: relative;
  display: block;
  padding: 1rem;
  z-index: 5;
}
.l-modal .lm-wrapper .lm-content p {
  font-size: 0.875rem;
  line-height: 1.75;
}
.l-modal .lm-wrapper .lm-footer {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}
.l-modal .lm-wrapper .lm-footer .action {
  margin-left: 0.625rem;
}

body.l-modal-open {
  overflow: hidden;
}

.l-modal .l-form-title {
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
  -webkit-margin-after: 1.5em;
          margin-block-end: 1.5em;
  margin-bottom: 0;
}
.l-modal .button {
  margin-bottom: 0px;
  padding: 0.5em 1em;
  line-height: 1.3;
  font-size: 1em;
  font-weight: bold;
}
.l-modal .lp-form input {
  margin-bottom: 0px;
}

.listplus-area {
  font-size: 14px;
}

.l-wrapper * {
  box-sizing: border-box;
}

.ls-container .l-wrapper {
  margin-bottom: 2em;
}

/* Notification */
.lp-errors,
.lp-success,
.lp-warning {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.lp-errors {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.lp-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.lp-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.l-layout-wrapper.gt-1-col:after {
  content: "";
  display: block;
  clear: both;
}
.l-layout-wrapper.gt-1-col .l-single-main {
  width: 70%;
}
.l-layout-wrapper.gt-1-col .l-single-sidebar {
  width: 30%;
}
.l-layout-wrapper.content-sidebar .l-single-main {
  float: left;
}
.l-layout-wrapper.content-sidebar .l-single-main .l-inner {
  margin-right: 2em;
}
.l-layout-wrapper.content-sidebar .l-single-sidebar {
  float: right;
}

.l-verified {
  margin-left: 0.25em;
}
.l-verified img {
  width: 1em;
  height: auto;
  max-width: 18px;
}
.l-verified .l-icon {
  font-size: 1.5em;
  fill: #0073bb;
  margin-right: 0;
}

.l-wrapper {
  margin-bottom: 2em;
}
.l-wrapper:last-child {
  margin-bottom: 0;
}

.l-header > div {
  margin-bottom: 0.5em;
}
.l-header > div:last-child {
  margin-bottom: 0px;
}
.l-header .rateit {
  margin-right: 0.5em;
}
.l-header .l-item-meta > div {
  display: inline-block;
}
.l-header .l-item-meta > div::before {
  content: " • ";
  width: 1em;
  display: inline-block;
  text-align: center;
  opacity: 0.6;
}
.l-header .l-item-meta > div:first-child::before {
  display: none;
}

.l-des-more {
  max-height: 150px;
  display: block;
  overflow: hidden;
  position: relative;
}
.l-des-more.js::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, white 100%);
}

/* Field Items */
.f-icon {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 0.5em;
}
.f-icon svg {
  width: auto;
  height: auto;
  max-width: 0.8em;
  max-height: 0.8em;
  display: inline-block;
  fill: currentColor;
}

.f-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5em;
  display: block;
}
.f-heading .f-icon {
  margin-right: 0.5em;
  font-size: 0.9em;
}

.l-icon {
  vertical-align: middle;
  text-align: center;
  margin-right: 0.5em;
}
.l-icon svg,
.l-icon img {
  width: 1em;
  height: auto;
  display: inline-block;
}
.l-icon.x2 svg,
.l-icon.x2 img {
  width: 2em;
}
.l-icon.x3 svg,
.l-icon.x3 img {
  width: 4em;
}
.l-icon.x4 svg,
.l-icon.x4 img {
  width: 4em;
}

.l-carousel-photos svg {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
}
.l-carousel-photos .video-inner {
  position: relative;
}
.l-carousel-photos .video-inner.no-thumb {
  background: #333333;
}
.l-carousel-photos .video-inner img {
  position: relative;
  z-index: 3;
}
.l-carousel-photos .video-inner .video-icon {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 55px;
  height: 55px;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.l-carousel-photos .img-inner {
  position: relative;
  display: inline-block;
  height: 150px;
}
.l-carousel-photos .img-inner:last-child {
  margin-right: 0px !important;
}
.l-carousel-photos .img-inner img {
  position: relative;
  z-index: 3;
  height: 100%;
  width: auto;
  display: inline-block;
}
.l-carousel-photos .img-inner.last {
  cursor: pointer;
  width: 150px;
  text-decoration: none;
}
.l-carousel-photos .img-inner.last::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.l-carousel-photos .img-inner .see-all {
  z-index: 12;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  display: block;
  text-decoration: none;
}

.l-open-day {
  display: -webkit-box;
  display: flex;
}
.l-open-day .day-name {
  flex-basis: 100px;
  min-width: 50px;
}

.f-group.style-no-box {
  border: 0 none;
}
.f-group.style-no-box .l-child-wrapper {
  margin-bottom: 0.3em;
}
.f-group.style-no-box .l-child-wrapper:last-child {
  margin-bottom: 0;
}
.f-group.style-inline .f-group-inner > div {
  display: inline;
}
.f-group.style-list {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.f-group.style-list .f-group-inner > div {
  border-bottom: 1px solid #ddd;
  padding: 0.5em 1em;
}
.f-group.style-list .f-group-inner > div:last-child {
  border-bottom: 0px none;
}
.f-group.style-column .f-group-inner {
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin: 0 -1em;
}
.f-group.style-column .f-group-inner > div {
  display: inline;
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 0 1em;
}
@media (max-width: 512px) {
  .f-group.style-column .f-group-inner {
    margin: 0;
    display: block;
  }
  .f-group.style-column .f-group-inner > div {
    padding: 0;
    margin-bottom: 1em;
    display: block;
  }
  .f-group.style-column .f-group-inner > div:last-child {
    margin-bottom: 0;
  }
}
.f-group.style-default {
  padding: 1em;
}
.f-group .l-child-wrapper ul {
  margin: 0px;
  padding: 0;
}
.f-group .l-child-wrapper .l-map {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.f-group .l-child-wrapper .l-map .l-address {
  padding: 0.5em 1em;
}

.l-open_hours .day-name {
  font-weight: 700;
}
.l-open_hours .day-row {
  display: -webkit-box;
  display: flex;
}
.l-open_hours .day-name {
  flex-basis: 60px;
}

.l-websites {
  list-style: none;
  margin-left: 0px;
  margin-bottom: 0px !important;
}

.action-btn {
  border: 1px solid #ddd;
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 0.5em;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 0.2em;
  line-height: 1;
  font-weight: 600;
}
.action-btn:last-child {
  margin-right: 0;
}
@media (max-width: 512px) {
  .action-btn.act-report .l-icon, .action-btn.act-claim .l-icon, .action-btn.act-enquiry .l-icon {
    margin-right: 0;
  }
  .action-btn.act-report .btn-txt, .action-btn.act-claim .btn-txt, .action-btn.act-enquiry .btn-txt {
    display: none;
  }
}

.l-user-avt img {
  width: 40px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

.l-single-map {
  height: 300px;
  display: block;
}

/* FIlter form */
.l-form {
  padding: 0px;
}
.l-form.loading {
  opacity: 0.6;
}
.l-form.loading::before {
  z-index: 20;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.l-form.loading > * {
  position: relative;
  z-index: 3;
}
.l-form input[type=checkbox],
.l-form input[type=radio] {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: inherit;
  margin: 0;
  color: inherit;
  outline: none;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
  width: 1em;
  height: 1em;
  display: inline-block;
  border: 1px solid #ddd;
  line-height: 0;
}
.l-form input[type=checkbox]:checked,
.l-form input[type=radio]:checked {
  color: #0277bd;
}
.l-form input[type=checkbox]:checked::after,
.l-form input[type=radio]:checked::after {
  content: "";
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  background: #0277bd;
}
.l-form input[type=checkbox]:checked:before,
.l-form input[type=radio]:checked:before {
  content: "";
}
.l-form input[type=checkbox]:checked::after,
.l-form input[type=radio]:checked::after {
  font-weight: 900;
  content: "";
}
.l-form input[type=checkbox]:active,
.l-form input[type=radio]:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
.l-form input[type=checkbox],
.l-form input[type=checkbox]::after {
  border-radius: 2px;
}
.l-form input[type=radio],
.l-form input[type=radio]::after {
  border-radius: 50%;
}
.l-form .lg-sub-list label {
  font-weight: normal;
}
.l-form .lg-sub-list .l-checkbox {
  padding-left: 1.5em;
  position: relative;
  display: block;
}
.l-form .lg-sub-list .l-checkbox input {
  position: absolute;
  top: 2px;
  left: 0px;
}
.l-form .lg-sub-list li {
  margin: 0 0 0.5em 0;
}
.l-form .lg-sub-list li:last-child {
  margin-bottom: 0px;
}
.l-form .lg-sub-list > ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
.l-form .lg-sub-list > ul > li {
  padding: 0px;
  list-style: none !important;
}
.l-form .lg-sub-list .l-sub-name {
  margin-left: 0.5em;
  font-weight: bold;
}
.l-form .lg-sub-list .l-q-btn {
  margin-top: 1em;
}
.l-form .lm-m .lg-sub-list {
  display: block;
  width: 100%;
}
.l-form .lm-m .lg-sub-list li {
  width: 50%;
  float: left;
}
.l-form .lm-m .lg-sub-list li:nth-child(2n+1) {
  clear: both;
}
.l-form .lm-m .lg-sub-list::after {
  content: "";
  display: block;
  clear: both;
}
.l-form .lf-main {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 512px) {
  .l-form .lf-main {
    display: block;
  }
}
.l-form .lf-main > * {
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-basis: 50%;
}
@media (min-width: 512px) {
  .l-form .lf-main .lf-main-input {
    display: -webkit-box;
    display: flex;
    width: 100%;
  }
  .l-form .lf-main .lf-main-input > div {
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-basis: 50%;
  }
}
@media (max-width: 512px) {
  .l-form .lf-main .lf-main-input {
    display: block;
  }
}
.l-form .lf-main .lf-action {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-basis: auto;
  padding-left: 10px;
}
@media (max-width: 512px) {
  .l-form .lf-main .lf-action {
    padding-left: 0px;
  }
}
.l-form .lf-main .lf-action .lf-submit {
  height: 42px;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.l-form .lf-main .ls-filter-type,
.l-form .lf-main .ls-search {
  width: 100%;
  margin: 0px;
  padding: 5px 10px;
  height: 40px;
  display: inline-block;
  border-radius: 0;
  line-height: 1.8;
  appearance: none;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  outline: none;
  border-radius: 5px;
}
.l-form .lf-main .lf-main-f.active .ls-filter-type,
.l-form .lf-main .lf-main-f.active .ls-search {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.l-form .lf-region {
  position: relative;
}
.l-form .lf-region .l-where {
  position: relative;
  z-index: 5;
  padding-right: 40px;
}
.l-form .lf-region .l-current-loc {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 15;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.l-form .lf-region .l-current-loc svg {
  width: 50%;
  height: auto;
  fill: currentColor;
}
.l-form .lf-main-input {
  margin-left: -5px;
  margin-right: -5px;
}
.l-form .lf-main-f {
  position: relative;
  margin: 0px 5px;
  padding: 0px;
  border: 0px none;
}
@media (max-width: 512px) {
  .l-form .lf-main-f {
    margin-bottom: 1em;
  }
}
.l-form .lf-main-f .l-main-dropdown {
  position: absolute;
  display: none;
  top: 100%;
  left: 1px;
  min-width: 10em;
  width: calc(100%);
  background: #fff;
  z-index: 900;
  list-style: none;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  margin: -1px;
  padding: 0px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.l-form .lf-main-f .l-main-dropdown li {
  list-style: none;
  padding: 0;
  margin: 0px;
  cursor: pointer;
}
.l-form .lf-main-f .l-main-dropdown svg {
  width: 1em;
  height: auto;
  margin-right: 0.5em;
}
.l-form .lf-main-f .l-main-dropdown a {
  padding: 10px 10px;
  display: block;
  border-radius: 5px;
}
.l-form .lf-main-f .l-main-dropdown a:hover {
  background: #eeeeee;
}
.l-form .lf-main-f.active .l-main-dropdown {
  display: block;
}
@media (min-width: 512px) {
  .l-form .lf-quick {
    margin-top: 0.5em;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  .l-form .lf-quick > * {
    display: inline-block;
  }
  .l-form .l-quick-input {
    border: 1px solid #ededed;
    padding: 0.25em;
    border-radius: 5px;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
            align-items: center;
    width: auto;
    margin: 0 0.25em 0 0;
    max-width: 100%;
  }
  .l-form .l-quick-btn {
    border: 1px solid #ededed;
    padding: 0.25em 1em;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
            align-items: center;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 5px;
    margin-right: 0.25em;
    text-decoration: none;
    min-width: 4em;
    text-align: center;
    cursor: pointer;
  }
  .l-form .l-quick-btn svg {
    width: 1em;
    height: auto;
    display: block;
    margin-right: 0.5em;
  }
  .l-form .l-quick-btn.selected {
    border: 1px solid #289dcc;
    background: #289dcc;
    color: #fff;
  }
  .l-form .l-quick-btn > input {
    display: none;
  }
  .l-form .l-quick-dropdown {
    position: relative;
    display: inline-block;
  }
  .l-form .l-quick-dropdown .lg-sub-list {
    display: none;
    text-align: left;
    position: absolute;
    z-index: 99;
    top: 100%;
    min-width: 100%;
    left: 0px;
    border-radius: 4px;
    background-color: #fff;
    width: 14em;
    padding: 1em;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  }
  .l-form .l-quick-dropdown:hover .lg-sub-list {
    display: block;
  }
}

/* Filter Form */
.l-filters-more .lf-subs {
  display: none;
}
.l-filters-more .lf-subs.active {
  display: block;
}

.lf-subs {
  margin-top: 1.5em;
}
.lf-subs:after {
  content: "";
  display: block;
  clear: both;
}
@media (min-width: 512px) {
  .lf-subs {
    margin-left: -1em;
    margin-right: -1em;
  }
}
.lf-subs .l-quick-label {
  margin-bottom: 0.5em;
  display: block;
}
.lf-subs .lg-sub-list > span {
  margin-bottom: 0.5em;
  display: block;
}
@media (min-width: 512px) {
  .lf-subs .lg-sub-list {
    width: 25%;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }
  .lf-subs .lg-sub-list:nth-child(4n+1) {
    clear: left;
  }
}
@media (max-width: 512px) {
  .lf-subs .lg-sub-list {
    margin-bottom: 1.5em;
  }
  .lf-subs .lg-sub-list:last-child {
    margin-bottom: 0px;
  }
}

.listplus-area .l-btn-primary,
.listplus-area .l-btn-secondary {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0;
  display: -webkit-inline-box;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
          align-items: center;
  line-height: 1.25;
}
.listplus-area .l-btn-primary svg,
.listplus-area .l-btn-secondary svg {
  width: 1em;
  height: auto;
  margin-right: 0.25em;
  display: inline-block;
  fill: currentColor;
}
.listplus-area .l-btn-primary {
  background: #289dcc;
  color: #fff;
  border-color: #289dcc;
}
.listplus-area .l-btn-secondary {
  background: #fff;
  color: #666666;
}

body {
  overflow-x: hidden;
}

@media (min-width: 512px) {
  .l-filter-wrapper .l-trigger-filter {
    display: none;
  }
}
@media (max-width: 512px) {
  .l-filter-wrapper .l-form {
    display: none;
  }
}

.l-filters-all .lf-main .lf-action {
  display: none;
}
.l-filters-all .l-q-btn {
  display: none;
}
.l-filters-all .l-quick-btn {
  display: block;
}
.l-filters-all .l-quick-btn.l-filter-all {
  display: none;
}
.l-filters-all .l-quick-dropdown .lg-sub-list {
  display: block;
  position: relative;
}
.l-filters-all .l-price-inputs {
  display: -webkit-box;
  display: flex;
  margin: 1em -5px 0;
}
.l-filters-all .l-price-inputs > div {
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin: 0px 5px;
}
.l-filters-all .l-price-inputs input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  border: 1px solid #ddd;
}
.l-filters-all.l-form .lf-quick {
  display: block;
}
.l-filters-all.l-form .lf-quick .l-quick-btn {
  display: inline-block;
  margin-bottom: 0.5em;
}
.l-filters-all .price-levels {
  margin-top: 1em;
}
.l-filters-all .price-levels ul {
  display: -webkit-box;
  display: flex;
  margin: 0px -5px;
}
.l-filters-all .price-levels ul li {
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 0px 5px;
  margin-bottom: 0;
}
.l-filters-all .price-levels input {
  display: none;
}
.l-filters-all .price-levels .l-checkbox {
  padding-left: 0px;
}
.l-filters-all .price-levels .l-checkbox .cb-name {
  border: 1px solid #ddd;
  padding: 0.25em 1em;
  text-align: center;
  display: block;
  border-radius: 5px;
  margin: 0 5px;
}
.l-filters-all .price-levels .l-checkbox input:checked + span {
  color: #fff;
  background: #289dcc;
  border-color: #289dcc;
}
.l-filters-all .lf-subs {
  margin-top: 1em;
}
.l-filters-all .lf-subs .lg-sub-list {
  float: none;
  width: 100%;
  margin-bottom: 1em;
}
.l-filters-all .lf-subs .lg-sub-list li {
  margin-bottom: 0px;
}

.l-mobile-filter {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  max-width: 500px;
  height: initial;
  top: 0px;
  left: auto;
  right: 0px;
  bottom: 0px;
  z-index: 999999999;
  background: #fff;
  padding: 0em;
  overflow: auto;
  margin: 0px !important;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all linear 300ms;
  transition: all linear 300ms;
}
@media (min-width: 512px) {
  .l-mobile-filter {
    border-left: 1px solid #ddd;
  }
}
.l-mobile-filter.mobile-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.l-mobile-filter.mobile-active .l-modal .lm-wrapper {
  width: calc(100% - 2em);
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}
.l-mobile-filter.mobile-active .l-form {
  position: fixed;
  z-index: 10;
  bottom: 51px;
  left: 0px;
  right: 0px;
  top: 0px;
  display: block;
  overflow: auto;
  padding: 1em;
}
.l-mobile-filter.mobile-active .mobile-actions {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  height: 50px;
  display: -webkit-box;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 990;
}
.l-mobile-filter.mobile-active .mobile-actions a:first-child {
  margin-right: auto;
}

.widget-listings-filter .l-form .lf-main,
.widget-listings-filter .l-filters-main .lf-main {
  display: block;
}
.widget-listings-filter .l-form .lf-main .lf-main-input,
.widget-listings-filter .l-filters-main .lf-main .lf-main-input {
  display: block;
}
.widget-listings-filter .l-form .lf-main .lf-main-input .lf-main-f,
.widget-listings-filter .l-filters-main .lf-main .lf-main-input .lf-main-f {
  margin-bottom: 1em;
}
.widget-listings-filter .l-form .lf-main .lf-main-input .lf-main-f:last-child,
.widget-listings-filter .l-filters-main .lf-main .lf-main-input .lf-main-f:last-child {
  margin-bottom: 0px;
}
.widget-listings-filter .l-form .lf-action,
.widget-listings-filter .l-filters-main .lf-action {
  padding-left: 0px;
  margin-top: 1em;
}

/* Front end form */
.l-form-title .l-back {
  vertical-align: middle;
}

.l-select-title {
  font-weight: bold;
}

.lp-before-form-title {
  font-size: 1.25em;
}

.l-select-listing {
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.l-select-listing .l-select-type {
  display: block;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media (min-width: 512px) {
  .l-select-listing .l-select-type {
    width: 25%;
  }
  .l-select-listing .l-select-type:nth-child(4n+1) {
    clear: left;
  }
}
@media (max-width: 512px) {
  .l-select-listing .l-select-type {
    width: 50%;
  }
  .l-select-listing .l-select-type:nth-child(2n+1) {
    clear: left;
  }
}
.l-select-listing .l-s-type-inner {
  display: block;
  padding: 1em 1em;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 1em;
  border-radius: 5px;
  text-align: center;
}
.l-select-listing .l-s-type-inner .l-icon {
  height: 2.5em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.l-select-listing .l-s-type-inner .l-s-type-title {
  display: block;
  margin: 0.25em 0;
}
.l-select-listing .l-s-type-inner svg {
  font-size: 2.5em;
  fill: currentColor;
}
.l-select-listing .l-s-type-inner > * {
  display: block;
}
.l-select-listing:after {
  content: "";
  display: block;
  clear: both;
}

.lp-form {
  position: relative;
}
.lp-form .ff {
  margin-bottom: 1em;
}
.lp-form .ff label {
  display: block;
}
.lp-form input[type=email],
.lp-form input[type=number],
.lp-form input[type=password],
.lp-form input[type=search],
.lp-form input[type=tel],
.lp-form input[type=text],
.lp-form input[type=url],
.lp-form textarea {
  border-style: solid;
  border-width: 1px;
  width: 100%;
  display: block;
  padding: 0.5em;
}
.lp-form .select2-container .select2-selection--multiple {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.lp-form input.f-datepicker {
  background-color: #ffffff;
}
.lp-form select {
  width: 100%;
  max-width: 100em;
}
.lp-form .hd-row select {
  width: 8em;
}
.lp-form .hd-hour {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.lp-form.loading::before {
  position: absolute;
  z-index: 99;
  content: "";
  background: rgba(0, 0, 0, 0.02);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.lp-form .fs-list li {
  margin-bottom: 0.5em;
}
.lp-form .li-remove {
  text-decoration: none;
  box-shadow: none;
}
.lp-form .fli-meta label {
  margin: 0px;
}
.lp-form .fli-meta .input-val-text {
  padding: 0.2em 0.5em;
}

.listplus-area .l-review_sumary .rateit {
  margin-right: 0.5em;
}
.listplus-area .l-websites,
.listplus-area .l-terms {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.listplus-area .l-websites li,
.listplus-area .l-terms li {
  list-style: none;
  margin-bottom: 0.5em;
}
.listplus-area .l-websites li:last-child,
.listplus-area .l-terms li:last-child {
  margin-bottom: 0;
}
.listplus-area .l-terms {
  list-style: none;
  margin-left: 0px;
}
.listplus-area .l-terms:after {
  content: "";
  display: block;
  clear: both;
}
.listplus-area .l-terms li .t-custom-val {
  margin-left: 1em;
  font-weight: bold;
}
.listplus-area .l-terms li:after {
  content: "";
  clear: both;
  display: block;
}
.listplus-area .l-terms[data-column="2"] {
  margin: -0.5em;
}
.listplus-area .l-terms[data-column="2"] li {
  width: 50%;
  float: left;
  padding: 0.5em;
}
.listplus-area .l-terms[data-column="2"] li:nth-child(2n+1) {
  clear: left;
}
.listplus-area .l-terms[data-column="3"] {
  margin: -0.5em;
}
.listplus-area .l-terms[data-column="3"] li {
  width: 33.3333%;
  float: left;
  padding: 0.5em;
}
.listplus-area .l-terms[data-column="3"] li:nth-child(3n+1) {
  clear: left;
}

.l-map-inner {
  border: 1px solid #ddd;
}
.l-map-inner .l-address {
  padding: 0.5em;
}

.listplus-area .l-reviews {
  list-style: none;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.listplus-area .l-reviews li {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
}
.listplus-area .l-reviews .r-content p:last-child {
  margin-bottom: 0px;
}
.listplus-area .l-reviews .r-item {
  display: table;
  width: 100%;
}
.listplus-area .l-reviews .r-item .r-author {
  width: 50px;
}
.listplus-area .l-reviews .r-item .r-author img {
  border-radius: 4px;
  width: 50px;
}
.listplus-area .l-reviews .r-item > * {
  display: table-cell;
  vertical-align: top;
}
.listplus-area .l-reviews .r-item .r-rating {
  display: inline-block;
}
.listplus-area .l-reviews .r-item .r-main {
  padding-left: 2em;
}
.listplus-area .l-reviews .curren-user-review .rateit-reset {
  display: none !important;
}
.listplus-area .l-reviews .curren-user-review .r-placeholder {
  border: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  padding: 1em;
}

.l-single-photos {
  margin: -0.5em;
}
.l-single-photos .l-photo-item {
  width: calc(100% / 5);
  float: left;
  padding: 0.5em;
}
.l-single-photos .img-inner {
  position: relative;
  border-radius: 4px;
}
.l-single-photos .img-inner:before {
  content: "";
  padding-top: 100%;
  display: block;
  width: 100%;
}
.l-single-photos .img-inner:nth-child(5n+1) {
  clear: left;
}
.l-single-photos .img-inner img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-pagination {
  margin-top: 2em;
}
.l-pagination .page-numbers {
  margin: 0px;
  padding: 0;
}
.l-pagination .page-numbers li {
  display: inline-block;
  margin-right: 0.2em;
}
.l-pagination .page-numbers li:last-child {
  margin-right: 0px;
}
.l-pagination .page-numbers li > .page-numbers {
  display: inline-block;
  line-height: 1;
  padding: 0.6em;
  text-align: center;
}

/* ------ FOR LOOP LISTING ----------- */
.l-table {
  display: table;
}
.l-table .l-cell {
  display: table-cell;
  vertical-align: top;
}

.l-listings {
  box-sizing: border-box;
  position: relative;
}
.l-listings * {
  box-sizing: border-box;
}
.l-listings.loading {
  opacity: 0.6;
}
.l-listings.loading::before {
  z-index: 20;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.l-listings.loading .l-loop-item {
  position: relative;
  z-index: 3;
}
.l-listings .l-loop-item {
  display: table;
  width: 100%;
  margin-bottom: 2em;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 2em 0;
}
@media (min-width: 512px) {
  .l-listings .l-loop-item {
    direction: ltr;
  }
}
.l-listings .l-loop-item:last-child {
  margin-bottom: 0;
}
.l-listings .l-table {
  width: 100%;
}
.l-listings .l-loop-thumb {
  display: table-cell;
  height: auto;
  width: 180px;
  vertical-align: top;
  position: relative;
}
.l-listings .l-loop-thumb.no-thumb {
  border: 1px #ddd;
  background: #f5f5f5;
}
.l-listings .l-loop-thumb img {
  width: 100%;
  height: 180px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
@media (max-width: 512px) {
  .l-listings .l-loop-thumb {
    width: 100px;
  }
  .l-listings .l-loop-thumb img {
    height: 100px;
  }
}
.l-listings .l-loop-main {
  display: table-cell;
  padding-left: 2em;
  vertical-align: top;
}
@media (max-width: 512px) {
  .l-listings .l-loop-main {
    padding-left: 10px;
  }
}
@media (max-width: 512px) {
  .l-listings .l-loop-top.l-table {
    display: block;
  }
  .l-listings .l-loop-top.l-table .l-cell {
    display: block;
    width: 100%;
  }
  .l-listings .l-excerpt {
    display: none;
  }
}
.l-listings .l-title {
  font-size: 18px;
  padding: 0px;
  font-weight: bold;
  margin: 0px 0px 5px;
}
@media (max-width: 512px) {
  .l-listings .l-title {
    font-size: 14px;
  }
}
.l-listings .l-loop-meta * {
  display: inline-block;
}
.l-listings .l-loop-meta > div::before {
  content: " • ";
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.8;
}
.l-listings .l-loop-meta > div:first-child::before {
  display: none;
}
.l-listings .l-review-summary {
  line-height: 0;
}
.l-listings .l-review-summary .rateit {
  margin-right: 5px;
}
.l-listings .l-tm {
  width: 65%;
}
.l-listings .l-im {
  width: 35%;
  font-size: 80%;
  text-align: right;
}
@media (max-width: 512px) {
  .l-listings .l-im {
    text-align: left;
  }
}
.l-listings .l-author-edit {
  margin-top: 1em;
  display: -webkit-box;
  display: flex;
}
.l-listings .l-author-edit > * {
  margin-right: 1em;
}

.ls-status {
  padding: 5px 6px;
  display: inline-block;
  color: #fff;
  background: #a0aec0;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 11px;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
}
.ls-status.stt-claimed {
  background: #0288d1;
}
.ls-status.stt-publish {
  background: #558b2f;
}
.ls-status.stt-draft {
  background: #a1887f;
}
.ls-status.stt-pending, .ls-status.stt-pending_review, .ls-status.stt-pending_payment {
  background: #f6ad55;
}
.ls-status.stt-rejected {
  background: #d84315;
}
.ls-status.stt-trash {
  background: #90a4ae;
}

/* MAP Listing */
.widget-listings-map.widget-clone {
  height: 0px !important;
  display: block;
  overflow: hidden;
  padding: 0px !important;
  background: none !important;
  box-shadow: none !important;
  border: 0px none !important;
}

.listings-map-wrapper {
  display: block;
  position: relative;
  height: 0px;
}
.listings-map-wrapper .listings-map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 0px;
}

.listings-map {
  display: block;
}

.l-map-info * {
  box-sizing: border-box;
}
.l-map-info .l-info-thumbnail img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1em;
}
.l-map-info h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}


/* Premium Code Stripped by Freemius */

